* {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

body {
  scroll-behavior: smooth;
  background-color: #87cefa;
}

img {
  width: 100%;
  height: auto;
  line-height: 0;
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  display: block;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 4px 10px #00000020;
}

.header__list {
  justify-content: end;
  gap: 20px;
  display: flex;
}

.header__btn {
  color: #fff;
  background-color: #eb7c04;
  border-radius: 40px;
  padding: 6px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 16px;
}

.header__item:first-child .header__btn {
  color: #fff;
  background-color: #87cefa;
}

.header__wrapper {
  justify-content: end;
  align-items: center;
  gap: 20px;
  display: flex;
}

.header__hello {
  font-family: Tuffy, sans-serif;
  font-size: 16px;
}

.header__out {
  color: #fff;
  background-color: #eb1f04;
  border-radius: 40px;
  padding: 6px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 16px;
}

.hero {
  padding: 110px 0 40px;
}

.hero__title {
  text-align: center;
  font-family: Coral Pixels, serif;
  font-size: 100px;
  font-style: normal;
}

.add {
  padding: 40px 0;
}

.add__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Coral Pixels, serif;
  font-size: 60px;
  font-style: normal;
}

.add__form {
  background-color: #fff;
  border-radius: 40px;
  max-width: 720px;
  margin: 0 auto;
  padding: 30px;
}

.add__label {
  color: #231c1b;
  margin-bottom: 12px;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
  display: block;
}

.add__input {
  color: #231c1b;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.add__text {
  color: #231c1b;
  resize: none;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  height: 100px;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.add__submit {
  color: #fff;
  background-color: #eb7c04;
  border-radius: 40px;
  width: 100%;
  padding: 12px 0;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
}

.posts {
  padding: 40px 0 80px;
}

.posts__input {
  color: #231c1b;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto 20px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.posts__input::placeholder {
  color: #eb7c04;
  margin-top: 8px;
  font-size: 18px;
}

.posts__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Coral Pixels, serif;
  font-size: 60px;
  font-style: normal;
}

.posts__search {
  display: none;
}

.posts__none {
  color: #231c1b;
  margin-bottom: 12px;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
  display: block;
}

.posts__list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: flex;
}

.posts__item {
  background-color: #fff;
  border-radius: 40px;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 325px;
  padding: 30px;
  display: flex;
}

.posts__wrapper {
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
  display: flex;
}

.posts__img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.posts__name {
  word-break: break-all;
  font-family: Coral Pixels, serif;
  font-size: 28px;
  font-style: normal;
}

.posts__tag {
  color: #eb7c04;
  border: 2px solid #eb7c04;
  border-radius: 40px;
  width: max-content;
  margin-left: auto;
  padding: 4px 8px;
  font-family: Tuffy, sans-serif;
  font-weight: 700;
}

.posts__body {
  margin-top: 12px;
  font-family: Tuffy, sans-serif;
}

.posts__subtitle {
  margin-top: 20px;
  font-family: Tuffy, sans-serif;
  font-weight: 700;
}

.posts__comments {
  color: #fff;
  background-color: #eb7c04;
  border-radius: 40px;
  padding: 6px 14px;
  font-family: Tuffy, sans-serif;
  font-size: 16px;
}

.posts__btns {
  gap: 12px;
  margin-top: 20px;
  display: flex;
}

.posts__btn {
  border-radius: 40px;
  padding: 6px 14px;
  font-family: Tuffy, sans-serif;
  font-size: 16px;
}

.posts__btn--delete {
  color: #fff;
  background-color: #eb1f04;
}

.posts__btn--update {
  color: #fff;
  background-color: #87cefa;
}

.posts__load {
  color: #fff;
  background-color: #eb7c04;
  border-radius: 40px;
  margin: 20px auto 0;
  padding: 12px 24px;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  background-color: #00000030;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.update {
  background-color: #fff;
  border-radius: 40px;
  width: calc(100% - 30px);
  max-width: 720px;
  padding: 30px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.update__close {
  font-family: Tuffy, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.update__close:hover {
  color: #eb7c04;
}

.update__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Coral Pixels, serif;
  font-size: 60px;
  font-style: normal;
}

.update__form {
  border-radius: 40px;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 30px;
}

.update__label {
  color: #231c1b;
  margin-bottom: 12px;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
  display: block;
}

.update__input {
  color: #231c1b;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.update__text {
  color: #231c1b;
  resize: none;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  height: 100px;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.update__submit {
  color: #fff;
  background-color: #eb7c04;
  border-radius: 40px;
  width: 100%;
  padding: 12px 0;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
}

.modal {
  background-color: #fff;
  border-radius: 40px;
  width: calc(100% - 30px);
  max-width: 720px;
  height: calc(100% - 30px);
  max-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
}

.modal__close {
  font-family: Tuffy, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.modal__close:hover {
  color: #eb7c04;
}

.modal__wrapper {
  padding: 30px;
}

.modal__img {
  background-color: #eb7c04;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
}

.modal__title {
  text-align: center;
  word-break: break-all;
  font-family: Coral Pixels, serif;
  font-size: 40px;
  font-style: normal;
}

.modal__tag {
  color: #eb7c04;
  border: 2px solid #eb7c04;
  border-radius: 40px;
  width: max-content;
  margin: 20px auto 0;
  padding: 4px 8px;
  font-family: Tuffy, sans-serif;
  font-weight: 700;
}

.modal__body {
  text-align: center;
  margin-top: 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
}

.modal__subtitle {
  margin-top: 20px;
  margin-bottom: 12px;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.modal__comments {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.modal__author {
  color: #eb7c04;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 400;
}

.modal__message, .modal__none {
  font-family: Tuffy, sans-serif;
  font-size: 16px;
}

.modal__form {
  background-color: #fff;
  gap: 20px;
  width: 100%;
  padding: 30px;
  position: sticky;
  bottom: 0;
  left: 0;
}

.modal__input {
  color: #231c1b;
  border: 3px solid #eb7c04;
  border-radius: 40px 0 0 40px;
  min-width: calc(100% - 77px);
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.modal__input::placeholder {
  color: #eb7c04;
  margin-top: 8px;
  font-size: 18px;
}

.modal__btn {
  color: #fff;
  background-color: #eb7c04;
  border: 3px solid #eb7c04;
  border-radius: 0 40px 40px 0;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.signup {
  background-color: #fff;
  border-radius: 40px;
  width: calc(100% - 30px);
  max-width: 720px;
  padding: 30px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup__close {
  font-family: Tuffy, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.signup__close:hover {
  color: #eb7c04;
}

.signup__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Coral Pixels, serif;
  font-size: 60px;
  font-style: normal;
}

.signup__form {
  border-radius: 40px;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 30px;
}

.signup__label {
  color: #231c1b;
  margin-bottom: 12px;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
  display: block;
}

.signup__input {
  color: #231c1b;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.signup__text {
  color: #231c1b;
  resize: none;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  height: 100px;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.signup__submit {
  color: #fff;
  background-color: #eb7c04;
  border-radius: 40px;
  width: 100%;
  padding: 12px 0;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
}

.display-none {
  display: none;
}

.signup__span {
  color: #eb1f04;
}

.signup__error {
  color: #eb1f04;
  margin-bottom: 10px;
  font-family: Tuffy, sans-serif;
  font-size: 14px;
}

.login {
  background-color: #fff;
  border-radius: 40px;
  width: calc(100% - 30px);
  max-width: 720px;
  padding: 30px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__close {
  font-family: Tuffy, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.login__close:hover {
  color: #eb7c04;
}

.login__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Coral Pixels, serif;
  font-size: 60px;
  font-style: normal;
}

.login__form {
  border-radius: 40px;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 30px;
}

.login__label {
  color: #231c1b;
  margin-bottom: 12px;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
  display: block;
}

.login__input {
  color: #231c1b;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.login__text {
  color: #231c1b;
  resize: none;
  border: 3px solid #eb7c04;
  border-radius: 40px;
  width: 100%;
  height: 100px;
  margin-top: 8px;
  padding: 4px 20px;
  font-family: Tuffy, sans-serif;
  font-size: 18px;
  display: block;
}

.login__submit {
  color: #fff;
  background-color: #eb7c04;
  border-radius: 40px;
  width: 100%;
  padding: 12px 0;
  font-family: Tuffy, sans-serif;
  font-size: 20px;
}

.login__span {
  color: #eb1f04;
}

.login__error {
  color: #eb1f04;
  margin-bottom: 10px;
  font-family: Tuffy, sans-serif;
  font-size: 14px;
}
/*# sourceMappingURL=js-mini-project.61d3354a.css.map */
